body {
  line-height: 2;
  padding: 0;
  margin: 0;
  background: #fff;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.header-area {
  border-bottom: double #ccc;
  background: #1a4488;
  .link {
    color: #fff;
  }
}

.header-box {
  max-width: 980px;
  margin: auto;
  padding: 1em;
  color: #fff;
}

.main-area {
  max-width: 580px;
  margin: 40px auto;
}

.footer-area {
  border-top: double #ccc;
  background: #F5F5F5;
}

.footer-box {
  max-width: 980px;
  margin: auto;
}

.richText-box{
  img{
    margin: 1em auto;
    border: 1px solid #ccc;
  }
}
.content-heading{
  line-height: 1.3;
}
.content-footer{
  margin: 3em auto 0 auto;
  text-align: center;
}
